main {
  margin: 1.3em;
  position: relative;
  top: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2em;
}

main hr {
 margin: 1em 1.2em 0 0;
 width: 100%;
}

main h2 {
  font-size: 2em;
  font-family: "Sen", sans-serif;
}

main h3 {
  color: var(--light-color);
  font-family: "Sen", sans-serif;
}

main p {
  font-size: 1.2em;
  padding-top: 0.6em;
  font-family: 'Noto Serif', serif;
  text-align: justify;
  text-indent: 15%;
}

main blockquote {
  font-family: 'Noto Serif', serif;
  padding: 0 1.3em 1.3em 1.3em;
  border-left: 3px solid var(--light-color);
  color: var(--dark-color);
  text-align: left;
}

pre {
  margin-top: 0.8em;
  max-width: 100%;
  max-height: 62ch;
  background-color: #636363;
  overflow: auto;
  border-radius: 4px;
  padding: 0.75rem;
}

code {
  background-color: #636363;
  color: #f4ebe8;
}

a {
  color: var(--dark-color);
}

a:hover,
a:focus {
  text-decoration: underline;
  color: var(--text-color);
}

footer {
  font-family: "Sen", sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 20%;
  letter-spacing: 3px;
}

ul,
ol {
  font-family: 'Noto Serif', serif;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 1.3em;
  margin: 0.5em 0;
}

textarea {
  width: 90%;
}

#hero-image {
  width: 80vw;
  height: auto;
}

.icon {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 0.8em;
  right: 1.2em;
}
.icon:hover, .icon:focus {
  cursor: pointer;
  color: goldenrod;
}

#nav-about,
#nav-writing,
#nav-projects {
  font-family: "Sen", sans-serif;
  color: var(--text-color);
  background-color: var(--bkg-color);
  position: absolute;
  right: 0.4em;
  font-size: 2em;
  border-radius: 2px;
  transform: skew(178deg, 178deg);
  width: 345px;
  text-transform: uppercase;
  border: 1px solid var(--text-color);
}

#nav-about {
  top: 2em;
}

#nav-writing {
  top: 3.5em;
}

#nav-projects {
  top: 5em;
}

#nav-projects:hover,
#nav-projects:focus,
#nav-about:hover,
#nav-about:focus,
#nav-writing:hover,
#nav-writing:focus {
  background-color: goldenrod;
  color: white;
  cursor: pointer;
}

#corner {
  color: var(--bkg-color);
  position: absolute;
  left: 0;
  bottom: 0;
}

.post {
  width: 100%;
  margin-bottom: 3.3em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.post h2 {
  max-width: 26ch;
}

#markdown {
  max-width: 100%;
}

#project-parent, .about-content {
  max-width: 72ch;
}

#project-parent ol {
  list-style: none;
}

@media only screen and (min-width: 600px) {
  main {
    top: 5em;
  }
  #nav-projects,
  #nav-about,
  #nav-writing {
    font-size: 2.5em;
  }
  ul,
  ol {
    padding-left: 2.6em;
  }
}
@media only screen and (min-width: 768px) {
  main {
    top: 2em;
  }
  #nav-projects,
  #nav-about,
  #nav-writing {
    right: 2em;
  }
  .post,
  pre {
    width: 80ch;
  }
}
@media only screen and (min-width: 1200px) {
  main {
    top: 5em;
  }
  #nav-projects,
  #nav-about,
  #nav-writing {
    right: 4em;
    background-color: inherit;
  }
  #nav-about {
    top: 5.5em;
  }
  #nav-writing {
    top: 7em;
  }
  #nav-projects {
    top: 8.5em;
  }
}

.active {
  border: 1px solid goldenrod;
  color: goldenrod;
}
