@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Sen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  --text-color: black;
  --bkg-color: white;
  --light-color: #c4c4c4;
  --dark-color: #636363;
}
body.dark-theme {
  --text-color: white;
  --bkg-color: #211A1D;
  --light-color: #636363;
  --dark-color: #c4c4c4;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  background-color: var(--bkg-color);
  color: var(--text-color);
  overflow-y: scroll;
}
.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}
.screenreader-text:focus {
  color: black;
  display: block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}
