<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>{{ page.title }}</header>
        <main>
            <p>
                {{ content }}
            </p>
            <p>
                <h4>
                    all posts are purely for education purposes; using the process of writing things down in my own words and typing code to make connections, find commonalities, learn frameworks, and understand languages; your mileage may vary.
                </h4>
            </p>

            <p>
                <a href={{ page.previous.url }}>{ prev }</a> 
                <a href={{ site.baseurl }}{% link blog.md %}>{ return }</a> 
                <a href={{ page.next.url }}>{ next }</a>
            </p>
        </main>
        <footer>
            2021 &copy; TGT
        </footer>
    </body>
</html>
